<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" th:href="@{../assets/img/apple-icon.png}">
        <link rel="icon" type="image/png" th:href="@{../assets/img/favicon.png}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Layout page</title>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" th:href="@{../font-awesome/css/all.min.css}">
        <!-- CSS Files -->
        <link th:href="@{../assets/css/material-dashboard.css}" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link th:href="@{../assets/common/common.css}" rel="stylesheet" />
        <!--   Core JS Files   -->
        <script th:src="@{../assets/js/core/jquery.min.js}"></script>
        <script th:src="@{../js/axios.min.js}"></script>
        <script th:src="@{../js/vue.js}"></script>
        <script th:src="@{../assets/js/core/popper.min.js}"></script>
        <script th:src="@{../assets/js/core/bootstrap-material-design.min.js}"></script>
        <script th:src="@{../assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
        <!-- Plugin for the momentJs  -->
        <script th:src="@{../assets/js/plugins/moment.min.js}"></script>
        <!--  Plugin for Sweet Alert -->
        <script th:src="@{../assets/js/plugins/sweetalert2.js}"></script>
        <!-- Forms Validations Plugin -->
        <script th:src="@{../assets/js/plugins/jquery.validate.min.js}"></script>
        <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <script th:src="@{../assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
        <!--    Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script th:src="@{../assets/js/plugins/bootstrap-selectpicker.js}"></script>
        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script th:src="@{../assets/js/plugins/bootstrap-datetimepicker.min.js}"></script>
        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
        <script th:src="@{../assets/js/plugins/jquery.dataTables.min.js}"></script>
        <!--    Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script th:src="@{../assets/js/plugins/bootstrap-tagsinput.js}"></script>
        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script th:src="@{../assets/js/plugins/jasny-bootstrap.min.js}"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script th:src="@{../assets/js/plugins/nouislider.min.js}"></script>
        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <!-- Library for adding dinamically elements -->
        <script th:src="@{../assets/js/plugins/arrive.min.js}"></script>
        <script th:src="@{../js/pagination.js}"></script>
        <script th:src="@{../assets/common/common.js}"></script>
</head>
    <body>
        <div class="bg-loadding display-none" id="loading">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="25 25 50 50" class="loadding">
                <circle cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke="#45d6b5" stroke-linecap="round" stroke-dashoffset="0" stroke-dasharray="100, 200">
                  <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 50 50" to="360 50 50" dur="2.5s" repeatCount="indefinite"/>
                  <animate attributeName="stroke-dashoffset" values="0;-30;-124" dur="1.25s" repeatCount="indefinite"/>
                  <animate attributeName="stroke-dasharray" values="0,200;110,200;110,200" dur="1.25s" repeatCount="indefinite"/>
                </circle>
            </svg>
        </div>
        <div class="sidebar" data-color="azure" data-background-color="white">
          <div class="logo">
              <a href="javascript:void(0);" class="simple-text logo-normal">K&P Group</a>
          </div>
          <div class="sidebar-wrapper">
            <ul class="nav">
              <li class="nav-item" id="item-dashboard">
                <a class="nav-link" th:href="@{/dashboard/index}"><i class="fas fa-chart-line"></i> <p>Thống kê và báo cáo</p></a>
              </li>
              <li class="nav-item" id="item-user-manage">
                <a class="nav-link" th:href="@{/user-manage/index}"><i class="fas fa-users"></i> <p> Quản lý nhân sự</p></a>
              </li>
              <li class="nav-item" id="item-customer-manage">
                <a class="nav-link" th:href="@{/customer-manage/index}"><i class="fas fa-database"></i> <p>Quản lý khách hàng</p></a>
              </li>
              <li class="nav-item" id="item-salary">
                <a class="nav-link" th:href="@{/salary/index}"><i class="fas fa-money-check"></i> <p>Tính lương</p></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="wrapper">
        <div class="main-panel">
                  <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:void(0);">Content</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">notifications</i>
                      <span class="notification">5</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Mike John responded to your email</a>
                      <a class="dropdown-item" href="#">You have 5 new tasks</a>
                      <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                      <a class="dropdown-item" href="#">Another Notification</a>
                      <a class="dropdown-item" href="#">Another One</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">person</i>
                      <p class="d-lg-none d-md-block">
                        Account
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                      <a class="dropdown-item" href="#">Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" th:href="@{/logout}">Sign out</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
        <section layout:fragment="content"></section>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                        <li><a href="https://creative-tim.com/presentation">About Us</a></li>
                        <li><a href="http://blog.creative-tim.com">Blog</a></li>
                        <li><a href="https://www.creative-tim.com/license">Licenses</a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    <span>Version: 1.0.0</span>
                </div>
            </div>
        </footer>
        </div>
        </div>
    </body>
</html>