<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Layout page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
        <!-- Favicons -->
        <link th:href="@{../assets/img/favicon.png}" rel="icon">
        <link th:href="@{../assets/img/apple-touch-icon.png}" rel="apple-touch-icon">
        <!-- Vendor CSS Files -->
        <link th:href="@{../assets/vendor/aos/aos.css}" rel="stylesheet">
        <link th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{../assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{../assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
        <link th:href="@{../assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{../assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
        <link th:href="@{../assets/css/style.css}" rel="stylesheet">
    </head>
    <body style="background-color: #f7fbfe;">
        <div id="preloader">
            <div id="loader"></div>
        </div>
        <section layout:fragment="content"></section>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <script th:src="@{../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{../assets/vendor/glightbox/js/glightbox.min.js}"></script>
        <script th:src="@{../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
        <script th:src="@{../assets/vendor/purecounter/purecounter.js}"></script>
        <script th:src="@{../assets/vendor/swiper/swiper-bundle.min.js}"></script>
        <script th:src="@{../assets/js/jquery.min.js}"></script>
        <script th:src="@{../assets/js/jquery.validate.min.js}"></script>
        <script th:src="@{../assets/js/jquery-ui.min.js}"></script>
        <script th:src="@{../assets/js/moment-with-locales.js}"></script>
        <script th:src="@{../assets/vendor/aos/aos.js}"></script>
        <script th:src="@{../assets/js/axios.min.js}"></script>
        <script th:src="@{../assets/js/vuelidate.min.js}"></script>
        <script th:src="@{../assets/js/validators.min.js}"></script>
        <script th:src="@{../assets/js/vue.js}"></script>
        <script th:src="@{../assets/js/main.js}"></script>
        <th:block layout:fragment="script"></th:block>
    </body>
</html>