<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Layout page</title>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/ico" th:href="@{../image/favicon.ico}"/>
        <!--     Fonts and icons     -->
        <link th:href="@{../font-awesome/css/all.min.css}" rel="stylesheet" />
        <!-- CSS Common -->
        <link th:href="@{../bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{../css/jquery-confirm.min.css}" rel="stylesheet" />
        <link th:href="@{../css/common.css}" rel="stylesheet" />
        <!-- JS Common -->
        <script th:src="@{../js/jquery.min.js}"></script>
        <script th:src="@{../bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{../js/jquery-confirm.min.js}"></script>
        <script th:src="@{../js/axios.min.js}"></script>
        <script th:src="@{../js/vue.js}"></script>
        <script th:src="@{../js/common.js}"></script>
    </head>
    <body class="bg-light col">
        <div class="bg-loading bg-light justify-content-center align-items-center" id="loading">
            <div class="spinner-border custom-spinner text-secondary">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <header class="navbar navbar-expand-md navbar-dark bd-navbar bg-dark">
            <nav class="container-fluid flex-wrap flex-md-nowrap" aria-label="Main navigation">
                <a class="navbar-brand p-0 me-2" th:href="@{/}"><i class="fas fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="true" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse show" id="bdNavbar">
                    <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link p-2" th:href="@{/}">Home</a>
                        </li>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link p-2" th:href="@{/create-question}">Question</a>
                        </li>
                        </th:block>
                        <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link p-2" th:href="@{/create-exam}">Exam</a>
                        </li>
                        </th:block>
                        <th:block sec:authorize="hasRole('ROLE_USER')">
	                        <li class="nav-item col-6 col-md-auto">
	                            <a class="nav-link p-2" th:href="@{/select-chapter}">Chapter</a>
	                        </li>
                        </th:block>
                        <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link p-2" th:href="@{/view-documents}">Documents</a>
                            </li>
                        </th:block>
                    </ul>
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto" th:if="${#request.userPrincipal == null}">
                        <li class="nav-item col-6 col-md-auto dropdown">
                            <div class="nav-link p-2">
                                <a class="btn btn-secondary rounded-pill" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto" th:if="${#request.userPrincipal != null}">
                        <li class="nav-item col-6 col-md-auto dropdown">
                            <div class="nav-link p-2">
                                <button class="btn btn-secondary rounded-pill"><i class="fas fa-bell"></i></button>
                            </div>
                        </li>
                        <li class="nav-link p-2 dropdown">
                            <button class="btn btn-secondary rounded-pill"  data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></button>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                <li>
                                    <div class="dropdown-item col-12">
                                        <img th:src="@{../image/no_image_user_icon.png}" class="w-50 rounded-pill mr-2"/>
                                        <span th:utext="${#authentication.principal.fullName}"></span>
                                    </div>
                                </li>
                                <li><label class="dropdown-item border-bottom"></label></li>
                                <li><a class="dropdown-item" type="button" th:href="@{/view-profile}">View profile</a></li>
                                <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section layout:fragment="content"></section>
        <footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Hãy liên hệ với chúng tôi qua:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Learn Car
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i>24 Phạm Thế Hiển, Đà Nẵng ,Việt Nam</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Onthibanglaib2@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 0236 3456 789</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Onthibanglaib2.com</a>
  </div>
  <!-- Copyright -->
</footer>
    </body>
</html>