.img-slide:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	background: rgb(34 34 34/ 11%);
}

.carousel-caption {
	top: 13rem;
	z-index: 2;
}

.carousel-indicators {
	z-index: 3;
	bottom: 40px;
}

.item-menu {
	box-shadow: 0 15px 30px 0 rgb(0 0 0/ 10%) !important;
	text-decoration: none;
	color: #2063c6;
	font-size: 22px;
	transition: all 0.5s ease;
}

.item-menu i {
	display: block;
	font-size: 50px;
	color: #2063c6;
	font-size: 50px;
}

.item-menu:hover {
	background-color: #2063c6 !important;
	color: white !important;
}

.item-menu:hover i {
	color: white !important;
}


.tab-menu {
	margin-top: -70px;
	z-index: 9;
}

.section-header {
	border-bottom: 2px solid #2063c6;
}

.icon-head {
	font-size: 25px;
}

.icon-head-chapter {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white
}

.icon-head-chapter i {
    font-size: 30px;
    color: #2063c6;
}