.image-question {
    width: 250px;
}
.display-none {
	display: none;
}

.header-page{
    background-image: url('../image/bg-learn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}