*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

img {
	vertical-align: middle;
	border-style: none;
}

button {
	border-radius: 0;
}

input, button, select, optgroup, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

h1, h3, h6, .h1, .h3, .h6 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 2.5rem;
}

h3, .h3 {
	font-size: 1.75rem;
}

h6, .h6 {
	font-size: 1rem;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow
		0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s
		ease-in-out;
	-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s
		ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
}

.form-group {
	margin-bottom: 1rem;
}

.rounded-sm {
	border-radius: 1rem !important;
}

.rounded {
	border-radius: 1rem !important;
}

.rounded-top {
	border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important;
}

.rounded-right {
	border-top-right-radius: 1rem !important;
	border-bottom-right-radius: 1rem !important;
}

.rounded-bottom {
	border-bottom-right-radius: 1rem !important;
	border-bottom-left-radius: 1rem !important;
}

.rounded-left {
	border-top-left-radius: 1rem !important;
	border-bottom-left-radius: 1rem !important;
}

.rounded-lg {
	border-radius: 0.3rem !important;
}

.rounded-circle {
	border-radius: 50% !important;
}

@media ( min-width : 576px) {
	.d-sm-none {
		display: none !important;
	}
	.d-sm-inline {
		display: inline !important;
	}
	.d-sm-inline-block {
		display: inline-block !important;
	}
	.d-sm-block {
		display: block !important;
	}
	.d-sm-table {
		display: table !important;
	}
	.d-sm-table-row {
		display: table-row !important;
	}
	.d-sm-table-cell {
		display: table-cell !important;
	}
	.d-sm-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-sm-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}

@media ( min-width : 768px) {
	.d-md-none {
		display: none !important;
	}
	.d-md-inline {
		display: inline !important;
	}
	.d-md-inline-block {
		display: inline-block !important;
	}
	.d-md-block {
		display: block !important;
	}
	.d-md-table {
		display: table !important;
	}
	.d-md-table-row {
		display: table-row !important;
	}
	.d-md-table-cell {
		display: table-cell !important;
	}
	.d-md-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-md-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}

@media ( min-width : 992px) {
	.d-lg-none {
		display: none !important;
	}
	.d-lg-inline {
		display: inline !important;
	}
	.d-lg-inline-block {
		display: inline-block !important;
	}
	.d-lg-block {
		display: block !important;
	}
	.d-lg-table {
		display: table !important;
	}
	.d-lg-table-row {
		display: table-row !important;
	}
	.d-lg-table-cell {
		display: table-cell !important;
	}
	.d-lg-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-lg-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}

@media ( min-width : 1200px) {
	.d-xl-none {
		display: none !important;
	}
	.d-xl-inline {
		display: inline !important;
	}
	.d-xl-inline-block {
		display: inline-block !important;
	}
	.d-xl-block {
		display: block !important;
	}
	.d-xl-table {
		display: table !important;
	}
	.d-xl-table-row {
		display: table-row !important;
	}
	.d-xl-table-cell {
		display: table-cell !important;
	}
	.d-xl-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-xl-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}

@media print {
	.d-print-none {
		display: none !important;
	}
	.d-print-inline {
		display: inline !important;
	}
	.d-print-inline-block {
		display: inline-block !important;
	}
	.d-print-block {
		display: block !important;
	}
	.d-print-table {
		display: table !important;
	}
	.d-print-table-row {
		display: table-row !important;
	}
	.d-print-table-cell {
		display: table-cell !important;
	}
	.d-print-flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.d-print-inline-flex {
		display: -webkit-inline-box !important;
		display: -ms-inline-flexbox !important;
		display: inline-flex !important;
	}
}

.justify-content-start {
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}

.justify-content-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.justify-content-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.justify-content-between {
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}

.justify-content-around {
	-ms-flex-pack: distribute !important;
	justify-content: space-around !important;
}

.w-50 {
	width: 50% !important;
}

.mt-4, .my-4 {
	margin-top: 1.5rem !important;
}

.ml-5, .mx-5 {
	margin-left: 3rem !important;
}

.pt-2, .py-2 {
	padding-top: 0.5rem !important;
}

.pb-2, .py-2 {
	padding-bottom: 0.5rem !important;
}

.text-center {
	text-align: center !important;
}

@media ( min-width : 768px) {
	.text-md-left {
		text-align: left !important;
	}
	.text-md-right {
		text-align: right !important;
	}
	.text-md-center {
		text-align: center !important;
	}
}

body:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #000;
	opacity: .3;
	z-index: -1;
}

h1, h3, .h1, .h3 {
	line-height: 1.5;
	font-weight: 400;
	font-family: "Lato", Arial, sans-serif;
	color: #000;
}

.ftco-section {
	padding: 3em 0;
}

.heading-section {
	font-size: 28px;
	color: #fff;
}

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.login-wrap {
	position: relative;
	color: rgba(255, 255, 255, 0.9);
}

.login-wrap h3 {
	font-weight: 300;
	color: #fff;
}

.login-wrap .social {
	width: 70%;
}

.btn-google {
	width: 245px;
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.4);
	color: #000;
	background: #fff;
}

.btn-google:hover {
	/* background: blue; */
	background: #DC2A2D !important;
	color: white;
	border-color: #DC2A2D;
}

.form-group {
	position: relative;
}

.field-icon {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.9);
}

.form-control {
	background: transparent;
	border: none;
	height: 50px;
	color: #E0FFFF !important;
	border: 1px solid transparent;
	/* background: rgba(255, 255, 255, 0.08); */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

::placeholder { 
  font-size: 1rem;
  font-style: oblique;
}

@media ( prefers-reduced-motion : reduce) {
	.form-control {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

.form-control:hover, .form-control:focus {
	background: transparent;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: rgba(255, 255, 255, 0.4);
}

textarea.form-control {
	height: inherit !important;
}

.checkbox-wrap {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
}

/* /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "\f0c8";
	font-family: "FontAwesome";
	position: absolute;
	color: #FFDAB9; font-size : 20px;
	margin-top: -4px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 20px;
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
	display: block;
	content: "\f14a";
	font-family: "FontAwesome";
	color: rgba(0, 0, 0, 0.2);
}

/* Style the checkmark/indicator */
.checkbox-primary {
	color: #fbceb5;
}

.checkbox-primary input:checked ~ .checkmark:after {
	color: #fbceb5;
}

.btn {
	cursor: pointer;
	border-radius: 40px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-size: 15px;
	text-transform: uppercase;
}

.btn.btn-primary {
	background: #fbceb5 !important;
	border: 1px solid #fbceb5 !important;
	color: #000 !important;
}

.btn.btn-primary:hover {
	border: 1px solid #fbceb5;
	background: transparent;
	color: #fbceb5;
}

.btn.btn-primary.btn-outline-primary {
	border: 1px solid #fbceb5;
	background: transparent;
	color: #fbceb5;
}

.btn.btn-primary.btn-outline-primary:hover {
	border: 1px solid transparent;
	background: #fbceb5;
	color: #fff;
}
.w-330 {
	width: 350px;
}