.form-check-input {
	background-color: #fbceb5;
}

.form-check-input:checked {
	background-color: #fbceb5;
	border-color: #fbceb5;
}

.form-check-input:focus {
	border-color: #fbceb5;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(251 206 181/ 20%);
}

.bg-login {
	height: 100vh;
	background-image: linear-gradient(to bottom, rgb(0 0 0/ 0%) 0%,
		rgb(0 0 0/ 51%) 100%), url(../image/bg.jpg);
}

.heading-section {
	font-size: 28px;
	color: #fff;
}

.login-wrap {
	position: relative;
	color: rgba(255, 255, 255, 0.9);
}

.login-wrap h3 {
	font-weight: 300;
	color: #fff;
}

.btn-google {
	width: 245px;
}

.btn-google:hover {
	background: #DC2A2D !important;
	color: white;
	border-color: #DC2A2D;
}

.btn-register {
	width: 245px;
	height: 40px;
}

.btn-register:hover {
	background: #FF4500 !important;
	color: white;
	border-color: #FF4500;
}

.btn-login {
	background-color: #fbceb5;
}

.btn-login:hover {
	border: 1px solid white;
	background-color: transparent;
}

.btn-login:focus {
	box-shadow: none;
}


.form-group {
	position: relative;
}

.field-icon {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.9);
}

.form-control {
	height: 50px;
	color: #E0FFFF !important;
	border: 1px solid transparent;
	background: rgba(255, 255, 255, 0.2);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

::placeholder {
	font-size: 1rem;
	font-style: oblique;
	color: white;
}

.form-control:hover, .form-control:focus {
	background: transparent;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: rgba(255, 255, 255, 0.4);
}