.bg-register {
    background-image: linear-gradient(rgb(255 255 255 / 65%) 0%, rgb(255 255 255 / 51%) 100%),url('../image/signup.jpg');
    background-position: center;
    background-repeat: no-repeat;background-size: cover;
}