.chapter-description {
	text-decoration: none!important;
	color: black;
}

.single-chapter:hover {
	background-color: #1f6f8b;
}

.single-chapter:hover span,button {
    color: white;
}

.header-page{
    background-image: url('../image/bg-select-chapter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}