.answer-content:hover {
	border-color: #3498db !important;
	background-color: #3498db17 !important;
	transition: all 0.4s;
}

.answer-content:hover .index-answer {
	background-color: #3498db;
	color: #FFF;
	transition: all 0.4s;
}

.index-answer {
    position: absolute;
    margin-top: -40px;
    background-color: #FFF;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #dee2e6;
}

.index-answer.active {
    border-color: #3498db!important;
    background-color: #3498db17!important;
    transition: all 0.4s;
}

.answer-content.active {
    background-color: #0bbd6b21!important;
    border-color: #0bbd6b!important;
}

.answer-content.active:hover {
    background-color: #0bbd6b21!important;
    border-color: #0bbd6b!important;
}

.answer-content.active:hover .index-answer {
    background-color: #0bbd6b;
    color: #FFF;
}

.answer-content.active .index-answer {
    background-color: #0bbd6b;
    color: #FFF;
}

.question-index.active {
    background-color: #0bbd6b!important;
    border-color: #0bbd6b!important;
    color: #FFF!important;
}

.question-index.select {
    background-color: #3498db!important;
    border-color: #3498db!important;
    color: #FFF!important;
}