.emp-profile{
    margin-top: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h4{
    color: #333;
}
.profile-head h5{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.table.table-profile th {
	border: none;
	color: #000;
	padding-bottom: 0.3125rem;
	padding-top: 0;
}

.table.table-profile td {
	border-color: #c8c7cc;
}

.table.table-profile .field {
	color: #666;
	font-weight: 600;
	width: 30%;
	text-align: right;
}

.profile-header .profile-header-cover:before {
	content: "";
	position: absolute;
	top: 0; left : 0; right : 0; bottom : 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.profile-header .profile-header-content, .profile-header,
	.profile-header-img, body {
	position: relative;
}

.profile-header {
	color: #fff;
	padding: 1.25rem;
}

.profile-container {
	padding: 1.5625rem;
}

label {
    margin-bottom: .5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}
.input-group {
    transition: all .15s ease-in-out;
    border-radius: .25rem;
    box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}
.input-group-prepend {
    margin-right: -1px;
}
.input-group-prepend, .input-group-append {
    display: flex;
}
