.btn-social {
	background-color: #00000045;
    width: 50px;
    transition: all 0.4s ease 0.1s;
}

.btn-social:hover {
	width: 70px;
}

.image-profile {
	margin-top: -60px;
	width: 120px;
}

.rounded-custom {
	border-radius: 30px;
}

.btn-danger {
	margin-left: 5rem;
	width: 140px;
	height: 40px;
}

.btn-success {
	margin-left: 23rem;
	width: 140px;
	height: 40px;
}