.profile-info-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.profile-info-list>li.title {
	font-size: 0.625rem;
	font-weight: 700;
	color: #8a8a8f;
	padding: 0 0 0.3125rem;
}

.profile-info-list>li {
	padding: 0.625rem 0;
}

.profile-info-list>li .field {
	font-weight: 700;
}

.coming-soon-cover img, .email-detail-attachment .email-attachment .document-file img,
	.email-sender-img img, .profile-header-img img {
	max-width: 100%;
}

.table.table-profile th {
	border: none;
	color: #000;
	padding-bottom: 0.3125rem;
	padding-top: 0;
}

.table.table-profile td {
	border-color: #c8c7cc;
}

.table.table-profile .field {
	color: #666;
	font-weight: 600;
	width: 30%;
	text-align: right;
}

.table.table-profile .value {
	font-weight: 500;
}

.profile-header .profile-header-cover {
	background-size: 100% auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.profile-header .profile-header-cover:before {
	content: "";
	position: absolute;
	top: 0; left : 0; right : 0; bottom : 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.profile-header .profile-header-content, .profile-header,
	.profile-header-img, body {
	position: relative;
}

.profile-header {
	color: #fff;
	padding: 1.25rem;
}

.profile-header-img {
	float: left;
	width: 7.5rem;
	height: 7.5rem;
	overflow: hidden;
	z-index: 10;
	margin: 0 1.25rem -1.25rem 0;
	padding: 0.1875rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	background: #fff;
}

.profile-container {
	padding: 1.5625rem;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}
.form-group {
    margin-bottom: 1.5rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.form-control-label {
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.input-group {
    transition: all .15s ease-in-out;
    border-radius: .25rem;
    box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}
.input-group-prepend {
    margin-right: -1px;
}
.input-group-prepend, .input-group-append {
    display: flex;
}
.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form-control {
    font-size: .875rem;
    height: calc(1.5em + 1.25rem + 5px);
    transition: all .15s ease-in-out;
}
