<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="utf-8" />
	<title>Tai Lieu</title>
	<link rel="stylesheet" th:href="@{../css/document.css}">
</head>

<body>
	<th:block layout:fragment="content">
		<div class="bg-primary header-page d-flex align-items-center">
			<div class="container-xxl">
				<div class="row">
					<div class="col-12 py-5">
						<span class="display-5 pb-3 d-inline-block text-light">Tài liệu
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb text-light">
									<li class="breadcrumb-item"><a th:href="@{/}" class="text-light">Trang chủ</a></li>
									<li class="breadcrumb-item">Chọn chương</li>
								</ol>
							</nav>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="container-xxl pt-3 pb-5">
			<div class="row mt-3">
				<div class="col-12 mt-3 text-center">
					<h1 class="display-5 pb-2 title-page d-inline-block fs-2">Toàn bộ chương</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="has-background-alternating-grey-reversed">
						<div class="modular-content-container">
							<div class="section is-small is-uniform has-padding-top-large has-padding-top-small-tablet">
								<div class="tabs-container has-padding-bottom-large">
									<div class="has-padding-bottom-none">
										<ul id="learning-paths-list" class="grid is-horizontal has-margin-left-none">
											<li class="grid-item" th:each="chapter : ${listChapter}">
												<div class="card-header">
													<div class="card-header-image">
														<img role="presentation"  alt="" th:src="@{../assets/images/banner/logo-learn-car.png}">
													</div>
												</div>
												<div class="card-content">
													<p class="card-content-super-title mt-0" th:text="|Chương ${chapter.name}|"></p>
													<p class="card-content-super-title has-margin-top-none"  th:text="|Nội dung : ${chapter.content}|"> </p>			
                                                    <p class="card-content-super-title has-margin-top-none"  th:text="|Mô tả    : ${chapter.description}|"> </p>			
													<a class="card-content-title"
														href="">
														<h3 class="font-size-m margin-none" >
														</h3>
													</a>
													<ul class="card-content-metadata has-margin-top-small has-bullets">
														<li	class="has-margin-bottom-none has-margin-bottom-extra-small-tablet">Phần 1</li>
														<li	class="has-margin-bottom-none has-margin-bottom-extra-small-tablet">Phần 2</li>													
														<li	class="has-margin-bottom-none has-margin-bottom-extra-small-tablet">Phần 3</li>																										
														<div class="card-footer-item">
															<a class="btn btn-primary" href="#" role="button">Start</a>
														</div>												
													</ul>
												</div>												
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>