<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="utf-8" />
    <title>Tai Lieu</title>
    <link rel="stylesheet" th:href="@{../css/document.css}">
</head>

<body>
    <th:block layout:fragment="content">
        <section id="breadcrumbs" class="breadcrumbs d-flex align-items-center">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Tài liệu</h2>
                    <ol>
                        <li><a th:href="@{/}">Trang chủ</a></li>
                        <li>Tài liệu</li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="more-services mt-4 portfolio-details">
          <div class="container">
            <div class="section-title" data-aos="fade-up">
              <h2>Toàn bộ chương</h2>
              <p>Được xây dựng theo 600 câu hỏi sát hạch lái xe ô tô do Tổng Cục Đường Bộ VN ban hành từ này 01/08/2020.</p>
            </div>
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch mt-4" th:each="chapter : ${listChapter}">
                <div class="card border" th:style="|background-image: url('@{../assets/img/no-photo.png}')|" data-aos="fade-up" data-aos-delay="100" th:if="${chapter.listImages.size == 0}">
                  <div class="card-body">
                    <h4 class="card-title"><a th:href="@{${'/detail-document?chapterId='} + ${chapter.chapterId}}" th:text="|Chương ${chapter.name}|"></a></h4>
                    <h5 class="card-title" th:text="${chapter.name}"></h5>
                    <p class="card-text" th:text="${chapter.description}"></p>
                    <div class="read-more"><a th:href="@{${'/detail-document?chapterId='} + ${chapter.chapterId}}"><i class="bi bi-arrow-right"></i> Xem chi tiết</a></div>
                  </div>
                </div>
                <div class="card border" th:style="|background-image: url('${chapter.listImages.get(0).path}')|" data-aos="fade-up" data-aos-delay="100" th:unless="${chapter.listImages.size == 0}">
                  <div class="card-body">
                    <h4 class="card-title"><a th:href="@{${'/detail-document?chapterId='} + ${chapter.chapterId}}" th:text="|Chương ${chapter.name}|"></a></h4>
                    <h5 class="card-title" th:text="${chapter.name}"></h5>
                    <p class="card-text" th:text="${chapter.description}"></p>
                    <div class="read-more"><a th:href="@{${'/detail-document?chapterId='} + ${chapter.chapterId}}"><i class="bi bi-arrow-right"></i> Xem chi tiết</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    </th:block>
</body>
</html>