<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<title>Dashboard</title>
<link rel="stylesheet" th:href="@{../css/index.css}">
</head>

<body>

	<div layout:fragment="content">
		<div id="carouselExampleDark" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleDark"
					data-bs-slide-to="0" class="active" aria-current="true"
					aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleDark"
					data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleDark"
					data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000">
					<img
						src="https://i.pinimg.com/564x/69/71/e4/6971e4b804454b55637474ece26518c7.jpg"
						alt="..." style="width: 100%;">
					<div class="carousel-caption d-none d-md-block">
						<h5>First slide label</h5>
						<p>Some representative placeholder content for the first
							slide.</p>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img src="https://img.lovepik.com/photo/40031/4791.jpg_wh860.jpg"
						class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>Second slide label</h5>
						<p>Some representative placeholder content for the second
							slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="image/background-login.jpg" class="d-block w-100"
						alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>Third slide label</h5>
						<p>Some representative placeholder content for the third
							slide.</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleDark" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleDark" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<div class="section tabbar_menu">
			<div class="container-xxl">
				<div class="row">
					<div class="col-md-12">
						<div class="tab_menu">
							<ul>
								<li><a href="#"><span class="icon"><img
											src="images/i1.png" alt="#" /></span><span></span></a></li>
								<li><a href="#"><span class="icon"><img
											src="images/i2.png" alt="#" /></span><span>Graduation</span></a></li>
								<li><a href="#"><span class="icon"><img
											src="images/i3.png" alt="#" /></span><span>Athletics</span></a></li>
								<li><a href="#"><span class="icon"><img
											src="images/i4.png" alt="#" /></span><span>Social</span></a></li>
								<li><a href="#"><span class="icon"><img
											src="images/i5.png" alt="#" /></span><span>Location</span></a></li>
								<li><a href="#"><span class="icon"><img
											src="images/i6.png" alt="#" /></span><span>Call us</span></a></li>
								<li><a href="#"><span class="icon"><img
											src="images/i7.png" alt="#" /></span><span>Email</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="learn">
			<div class="container-xxl learn-bg-red">
				<div class="row align-items-center">

					<div class="col-lg-5">
						<div class="section-header text-left">
							<h1>
								Học B2 để làm gì
								</h2>
						</div>
						<div class="learn-text">
							<p>
								<i class="fas fa-check-circle"></i> Để đi lại thuận tiện trong
								công việc
							</p>
							<p>
								<i class="fas fa-check-circle"></i> Để đưa gia đình đi chơi , du
								lịch xa
							</p>
							<p>
								<i class="fas fa-check-circle"></i> Để kiếm thêm thu nhập cho
								gia đình
							</p>
							<a class="btn" href="">Learn More</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="learn-img">
							<img
								src="https://daylaixehanoi.vn/wp-content/uploads/2019/11/hoc-b2-de-lam-gi-731x400.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- dungcoding -->

		<div class="chapter">
			<div class="container-xxl learn-bg-red">
				<div class="row align-items-center">
					<div></div>
					<div class="col-lg-6">
						<div class="section-header text-left">
							<h1>Học theo Chương</h1>
						</div>
						<div class="chapter-text">
							<p>
								<i class="fas fa-chevron-right"></i> <a
									style="text-decoration: none" href="#">Chương 1</a>: Khái niệm
								và quy tắc giao thông đường bộ
							</p>
							<p>
								<i class="fas fa-chevron-right"></i> <a
									style="text-decoration: none" href="#">Chương 2</a>: Nghiệp vụ
								vận tải
							</p>
							<p>
								<i class="fas fa-chevron-right"></i> <a
									style="text-decoration: none" href="#">Chương 3</a>: Văn hóa
								giao thông và đạo đức người lái xe
							</p>
							<p>
								<i class="fas fa-chevron-right"></i> <a
									style="text-decoration: none" href="#">Chương 4</a>: Kỹ thuật
								lái xe
							</p>
							<p>
								<i class="fas fa-chevron-right"></i> <a
									style="text-decoration: none" href="#">Chương 5</a>: Cấu tạo và
								sữa chữa
							</p>
							<p>
								<i class="fas fa-chevron-right"></i> <a
									style="text-decoration: none" href="#">Chương 6</a>: Hệ thống
								biển báo hiệu đường bộ

							</p>
							<p>
								<i class="fas fa-chevron-right"></i> <a
									style="text-decoration: none" href="#">Chương 7</a>: Giải thế
								sa hình và kỹ năng xử lý tình huống giao thông
							</p>
							<p>
								<i class="fas fa-chevron-right"></i> <a
									style="text-decoration: none" href="#">Chương 8</a>: Tình huống
								mất an toàn giao thông
							</p>
							<a class="btn" href="">Learn More</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="chapter-img">
							<div class="row">
								<div class="col-sm"
									style="background: #99CCFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="first after" href="#">CHƯƠNG 1</a>
									</div>

								</div>
								<div class="col-sm"
									style="background: #FFCCFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="second after" href="#">CHƯƠNG 2</a>
									</div>
								</div>
								<div class="col-sm"
									style="background: #CCFFFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="third after" href="#">CHƯƠNG 3</a>
									</div>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm"
									style="background: #99CCFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="first after" href="#">CHƯƠNG 4</a>
									</div>
								</div>
								<div class="col-sm"
									style="background: #FFCCFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="second after" href="#">CHƯƠNG 5</a>
									</div>
								</div>
								<div class="col-sm"
									style="background: #CCFFFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="third after" href="#">CHƯƠNG 6</a>
									</div>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm"
									style="background: #99CCFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="first after" href="#">CHƯƠNG 7</a>
									</div>
								</div>
								<div class="col-sm"
									style="background: #FFCCFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="second after" href="#">CHƯƠNG 8</a>
									</div>
								</div>
								<div class="col-sm"
									style="background: #CCFFFF; height: 70px; text-align: center;">
									<div class="wrapper">
										<a class="third after" href="#">TỔNG HỢP</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>