<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
    <head>
        <meta charset="utf-8"/>
        <title>Trang chủ</title>
        <link rel="stylesheet" th:href="@{../css/index.css}">
    </head>
    <body>
        <th:block layout:fragment="content">
            <div id="carouselExampleCaptions" class="carousel slide carousel-inner" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-item active">
                    <div class="mu-slider-img">
                        <figure class="m-0">
                            <img src="assets/img/slider/1.jpg" class="d-block" alt="..." width="100%" height="500px">
                        </figure>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="title-slide mb-0">Tài liệu</h4>
                        <span class="line-slide bg-info"></span>
                        <h2 class="content-slide">Những điều cần biết khi thi bằng lái xe</h2>
                        <p>Toàn bộ 650 câu hỏi trắc nghiệm thì bằng lái xe</p>
                        <a href="#" class="mu-read-more-btn text-decoration-none" tabindex="-1">Xem thêm</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mu-slider-img">
                        <figure class="m-0">
                            <img src="assets/img/slider/1.jpg" class="d-block" alt="..." width="100%" height="500px">
                        </figure>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="title-slide mb-0">Học tập</h4>
                        <span class="line-slide bg-info"></span>
                        <h2 class="content-slide">Chúng tôi sẽ giúp bạn tiến bộ</h2>
                        <p>Chức năng học thông minh, giúp tiết kiệm thời gian học tập và ghi nhớ</p>
                        <a href="#" class="mu-read-more-btn text-decoration-none" tabindex="-1">Xem thêm</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mu-slider-img">
                        <figure class="m-0">
                            <img src="assets/img/slider/1.jpg" class="d-block" alt="..." width="100%" height="500px">
                        </figure>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="title-slide mb-0">Thi thử</h4>
                        <span class="line-slide bg-info"></span>
                        <h2 class="content-slide">Kiểm tra khả năng của bạn trước khi thi thực</h2>
                        <p>Chế độ thi thử giúp bạn nắm rõ năng lực và những thiếu sót cần bổ xung</p>
                        <a href="#" class="mu-read-more-btn text-decoration-none" tabindex="-1">Xem thêm</a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <section id="mu-service">
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="mu-service-area">
                                <div class="mu-service-single shadow">
                                    <a th:href="@{/document}"><span><i class="far fa-file-alt"></i></span></a>
                                    <h3>Tài liệu</h3>
                                    <p>Bao gồm tất cả những câu hỏi thi bằng lái các loại từ A1 đến F</p>
                                </div>
                                <div class="mu-service-single shadow">
                                    <span><i class="fas fa-graduation-cap"></i></span>
                                    <h3>Học Online</h3>
                                    <p>Giúp bạn học và nhớ những kiến thức liên quan</p>
                                </div>
                                <div class="mu-service-single shadow">
                                    <span><i class="fas fa-diagnoses"></i></span>
                                    <h3>Thi thử</h3>
                                    <p>Kiểm tra năng lực và kết quả học tập của bạn</p>
                                </div>
                                <div class="mu-service-single shadow">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <h3>Đăng ký thi</h3>
                                    <p>Sau khi đã nắm chắc kiến thức, thì vào lấy bằng thôi!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="mu-about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-about-us-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="mu-about-us-left">
                                            <div class="mu-title">
                                                <h2>GIỚI THIỆU VỀ CHÚNG TÔI</h2>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum pariatur fuga eveniet soluta aspernatur rem, nam voluptatibus voluptate voluptates sapiente, inventore. Voluptatem, maiores esse molestiae.</p>
                                            <ul>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                                <li>Saepe a minima quod iste libero rerum dicta!</li>
                                                <li>Voluptas obcaecati, iste porro fugit soluta consequuntur. Veritatis?</li>
                                                <li>Ipsam deserunt numquam ad error rem unde, omnis.</li>
                                                <li>Repellat assumenda adipisci pariatur ipsam eos similique, explicabo.</li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat harum facilis excepturi et? Mollitia!</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="mu-about-us-right">
                                            <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video">
                                                <img src="assets/img/about-us.jpg" alt="img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="mu-abtus-counter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-abtus-counter-area">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="mu-abtus-counter-single">
                                            <span class="fa fa-book"></span>
                                                <h4 class="counter">568</h4>
                                                <p>Chương</p>
                                        </div>
                                    </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="mu-abtus-counter-single">
                                        <span class="fa fa-users"></span>
                                        <h4 class="counter">3500</h4>
                                        <p>Câu hỏi</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="mu-abtus-counter-single">
                                        <span class="fa fa-flask"></span>
                                        <h4 class="counter">65</h4>
                                        <p>Người sử dụng</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="mu-abtus-counter-single no-border">
                                        <span class="fa fa-user-secret"></span>
                                        <h4 class="counter">250</h4>
                                        <p>Loại bằng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <!-- Start features section -->
        <section id="mu-features">
          <div class="container-xxl">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="mu-features-area">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h2>Chương quan trọng</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!</p>
                  </div>
                  <!-- End Title -->
                  <!-- Start features content -->
                  <div class="mu-features-content">
                    <div class="row">
                      <div class="col-lg-4 col-md-4  col-sm-6">
                        <div class="mu-single-feature">
                          <span class="fa fa-book"></span>
                          <h4>Professional Courses</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                          <a href="#" class="btn btn-outline-primary rounded-0">Học chương</a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                          <span class="fa fa-users"></span>
                          <h4>Expert Teachers</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                          <a href="#">Học chương</a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                          <span class="fa fa-laptop"></span>
                          <h4>Online Learning</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                          <a href="#">Học chương</a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                          <span class="fa fa-microphone"></span>
                          <h4>Audio Lessons</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                          <a href="#">Học chương</a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                          <span class="fa fa-film"></span>
                          <h4>Video Lessons</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                          <a href="#">Học chương</a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                          <span class="fa fa-certificate"></span>
                          <h4>Professional Certificate</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                          <a href="#">Học chương</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End features content -->
                </div>
              </div>
            </div>
          </div>
        </section>
        
          <section id="mu-latest-courses">
            <div class="container-xxl">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="mu-latest-courses-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                      <h2>Kỳ thi gần nhất</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!</p>
                    </div>
                    <!-- End Title -->
                    <!-- Start latest course content -->
                    <div class="mu-latest-courses-content row">
                      <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"><img src="assets/img/courses/1.jpg" alt="img"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="#">B2</a>
                              <span><i class="far fa-clock"></i>90Days</span>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                            <div class="mu-latest-course-single-contbottom d-flex justify-content-between">
                              <a class="mu-course-details" href="#">Details</a>
                              <span class="mu-course-price" href="#">$165.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"><img src="assets/img/courses/2.jpg" alt="img"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="#">B1</a>
                              <span><i class="far fa-clock"></i>75Days</span>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                            <div class="mu-latest-course-single-contbottom d-flex justify-content-between">
                              <a class="mu-course-details" href="#">Details</a>
                              <span class="mu-course-price" href="#">$165.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"><img src="assets/img/courses/3.jpg" alt="img"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="#">B1</a>
                              <span><i class="far fa-clock"></i>45Days</span>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                            <div class="mu-latest-course-single-contbottom d-flex justify-content-between">
                              <a class="mu-course-details" href="#">Details</a>
                              <span class="mu-course-price" href="#">$165.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </th:block>
    </body>
</html>