<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
    <head>
        <meta charset="utf-8"/>
        <title>Trang chủ</title>
        <link rel="stylesheet" th:href="@{../css/index.css}">
    </head>
    <body>
        <th:block layout:fragment="content">
            <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-caption text-center">
                        <h1>Search content</h1>
                    </div>
                    <div class="carousel-item active" data-bs-interval="20000">
                        <div class="img-slide">
                            <img th:src="@{../image/slide-1.jpg}" class=" w-100">
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="img-slide">
                            <img th:src="@{../image/slide-2.jpg}" class="w-100">
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="img-slide">
                            <img th:src="@{../image/slide-3.jpg}" class="img-slide w-100">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div>
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-12 tab-menu">
                            <div class="row">
                                <div class="col-3">
                                     <a href="#" class="item-menu rounded bg-white shadow py-5 text-center d-block">
                                         <i class="fas fa-newspaper"></i>
                                         <span>Tài liệu</span>
                                     </a>
                                </div>
                                <div class="col-3">
                                     <a th:href="@{/select-chapter}" class="item-menu rounded bg-white shadow py-5 text-center d-block">
                                         <i class="fas fa-graduation-cap"></i>
                                         <span>Học</span>
                                     </a>
                                </div>
                                <div class="col-3">
                                     <a href="#" class="item-menu rounded bg-white shadow py-5 text-center d-block">
                                         <i class="fas fa-diagnoses"></i>
                                         <span>Thi Thử</span>
                                     </a>
                                </div>
                                <div class="col-3">
                                     <a href="#" class="item-menu rounded bg-white shadow py-5 text-center d-block">
                                         <i class="fas fa-map-marker-alt"></i>
                                         <span>Đăng ký thi</span>
                                     </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5">
             <div class="container-xxl learn-bg-red">
                 <div class="row align-items-center">
                     <div class="col-12">
                         <span class="d-block subheading mb-3 text-danger">MỤC ĐÍCH &amp; LỢI ÍCH</span>
                     </div>
                     <div class="col-12">
                         <h1 class="display-5 text-primary">Học B2 để làm gì</h1>
                     </div>
                     <div class="col-5">
                         <p><span class="text-primary me-3 icon-head"><i class="fas fa-check"></i></span> Để đi lại thuận tiện trong công việc</p>
                         <p class="mt-3"><span class="text-primary me-3 icon-head"><i class="fas fa-check"></i></span> Để đưa gia đình đi chơi , du lịch xa</p>
                         <p class="mt-3"><span class="text-primary me-3 icon-head"><i class="fas fa-check"></i></span> Để kiếm thêm thu nhập cho gia đình</p>
                         <a class="btn btn-primary mt-4">XEM THÊM</a>
                     </div>
                     <div class="col-7">
                         <div class="learn-img">
                             <img class="w-100 shadow" src="https://daylaixehanoi.vn/wp-content/uploads/2019/11/hoc-b2-de-lam-gi-731x400.jpg"/>
                         </div>
                     </div>
                 </div>
                </div>
            </div>
            <div class="py-5 bg-light">
                <div class="container-xxl learn-bg-red">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <span class="d-block subheading mb-3 text-danger">LỘ TRÌNH HỌC TẬP</span>
                        </div>
                        <div class="col-12">
                            <h1 class="display-5 text-primary">Học theo Chương</h1>
                        </div>
                        <div class="col-lg-5 mt-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2 d-flex align-items-center">
                                            <span class="icon-head-chapter d-flex justify-content-center align-items-center shadow">
                                                <i class="fas fa-angle-right"></i>
                                            </span> 
                                        </div>
                                        <div class="col-10 d-flex align-items-center">
                                            <span class="d-inline-block"><a class="text-primary fs-4 text-decoration-none" href="#">Chương 1</a><br>
                                            <span>Khái niệm và quy tắc giao thông đường bộ</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-2 d-flex align-items-center">
                                            <span class="icon-head-chapter d-flex justify-content-center align-items-center shadow">
                                                <i class="fas fa-angle-right"></i>
                                            </span> 
                                        </div>
                                        <div class="col-10 d-flex align-items-center">
                                            <span class="d-inline-block"><a class="text-primary fs-4 text-decoration-none" href="#">Chương 1</a><br>
                                            <span>Khái niệm và quy tắc giao thông đường bộ</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-2 d-flex align-items-center">
                                            <span class="icon-head-chapter d-flex justify-content-center align-items-center shadow">
                                                <i class="fas fa-angle-right"></i>
                                            </span> 
                                        </div>
                                        <div class="col-10 d-flex align-items-center">
                                            <span class="d-inline-block"><a class="text-primary fs-4 text-decoration-none" href="#">Chương 1</a><br>
                                            <span>Khái niệm và quy tắc giao thông đường bộ</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-2 d-flex align-items-center">
                                            <span class="icon-head-chapter d-flex justify-content-center align-items-center shadow">
                                                <i class="fas fa-angle-right"></i>
                                            </span> 
                                        </div>
                                        <div class="col-10 d-flex align-items-center">
                                            <span class="d-inline-block"><a class="text-primary fs-4 text-decoration-none" href="#">Chương 1</a><br>
                                            <span>Khái niệm và quy tắc giao thông đường bộ</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-2 d-flex align-items-center">
                                            <span class="icon-head-chapter d-flex justify-content-center align-items-center shadow">
                                                <i class="fas fa-angle-right"></i>
                                            </span> 
                                        </div>
                                        <div class="col-10 d-flex align-items-center">
                                            <span class="d-inline-block"><a class="text-primary fs-4 text-decoration-none" href="#">Chương 1</a><br>
                                            <span>Khái niệm và quy tắc giao thông đường bộ</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-2 d-flex align-items-center">
                                            <span class="icon-head-chapter d-flex justify-content-center align-items-center shadow">
                                                <i class="fas fa-angle-right"></i>
                                            </span> 
                                        </div>
                                        <div class="col-10 d-flex align-items-center">
                                            <span class="d-inline-block"><a class="text-primary fs-4 text-decoration-none" href="#">Chương 1</a><br>
                                            <span>Khái niệm và quy tắc giao thông đường bộ</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-5">
                                    <a class="btn btn-primary" href="">XEM THÊM</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 mt-4">
                            <div class="chapter-img">
                                <div class="row mt-3">
                                    <div class="col-sm">
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="first after" href="#" style=" text-decoration: none;">CHƯƠNG 1</a>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="second after" href="#" style=" text-decoration: none;">CHƯƠNG 2</a>
                                        </div>
                                    </div>
                                    <div class="col-sm" >
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="third after" href="#" style=" text-decoration: none;">CHƯƠNG 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm" >
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="first after" href="#" style=" text-decoration: none;">CHƯƠNG 4</a>
                                        </div>
                                    </div>
                                    <div class="col-sm" >
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="second after" href="#" style=" text-decoration: none;">CHƯƠNG 5</a>
                                        </div>
                                    </div>
                                    <div class="col-sm" >
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="third after" href="#" style=" text-decoration: none;">CHƯƠNG 6</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm" >
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="first after" href="#" style=" text-decoration: none;">CHƯƠNG 7</a>
                                        </div>
                                    </div>
                                    <div class="col-sm" >
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="second after" href="#" style=" text-decoration: none;">CHƯƠNG 8</a>
                                        </div>
                                    </div>
                                    <div class="col-sm" >
                                        <div class="wrapper text-center rounded shadow">
                                            <a class="third after" href="#" style=" text-decoration: none;">TỔNG HỢP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>