<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <title>Learn</title>
        <link rel="stylesheet" th:href="@{../css/learn.css}">
    </head>
    <body>
        <div class="container-xxl" layout:fragment="content">
            <div class="row">
                <div class="col-12 text-center">
                    <h1><strong>Chương 1</strong> Cơ bản về lái xe</h1>
                    
                </div>
            </div>
        </div>
    </body>
</html>