<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <title>
          Quản Lý Data
        </title>
    </head>
    <body>
        <div class="content" layout:fragment="content">
            <div class="container-fluid" id="app-list-data">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-stats" id="import-csv">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <label for="input-import-csv" class="m-0 text-white cursor-poiter"><i class="fas fa-upload"></i></label>
                                </div>
                                <p class="card-category">Import data</p>
                                <input type="file" id="input-import-csv" ref="fileCsv" class="display-none" @change="previewFiles">
                                <h3 class="card-title">{{ fileCsv.value }}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <button class="btn btn-info" @click="importCsv"><i class="fas fa-file-import"></i> Import</button>
                                    <button class="btn btn-default"><i class="fas fa-eraser"></i> Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header card-header-text card-header-primary">
                            <div class="card-text">
                              <h4 class="card-title"><i class="fas fa-search"></i> Tìm kiếm</h4>
                            </div>
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-3">
									    <input type="text" class="form-control" placeholder="Tên">
                                  </div>
                                  <div class="col-3">
                                        <input type="text" class="form-control" placeholder="Số điện thoại">
                                  </div>
                                  <div class="col-3">
                                        <input type="text" class="form-control" placeholder="Hạn">
                                  </div>
                              </div>
                              <div class="row mt-3">
                                  <div class="col-4">
                                        <button type="button" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                                        <button type="button" class="btn btn-default"><i class="fas fa-eraser"></i> Clear</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class='row'>
                    <div class="col-12">
                        <pagination :total="listDataCustomer.totalElements" :total-pages="listDataCustomer.totalPages" :current-page="listDataCustomer.number"  @pagechanged="getData"></pagination>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table table-sm table-striped table-bordered">
                            <thead class="bg-dark text-light">
                                <tr>
                                    <th class="text-center" width="5%">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr v-for="customer in listDataCustomer.content" :key="customer.id">
                                <td class="text-center">
                                    <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" :value="customer.id">
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                </td>
                                <td>{{ customer.numberPhone }}</td>
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.description }}</td>
                                <td>
                                  <button class="btn btn-info" data-toggle="modal" data-target="#historyNoteModal" @click="getHistory(customer.id)"><i class="fas fa-history"></i></button>
                                  <button class="btn btn-danger"><i class="fas fa-user-minus"></i></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            <!-- Modal history -->
            <div class="modal fade" id="historyNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                              <div class="card-header card-header-success">
                                <h4 class="card-title ">History</h4>
                                <p class="card-category"></p>
                              </div>
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead class=" text-success">
                                      <th class="w-25">Content</th>
                                      <th class="w-25">By User</th>
                                      <th class="w-25">Thời gian</th>
                                    </thead>
                                    <tbody>
                                      <tr v-for="item in listHistory" :key="item.customerHistoryId">
                                          <td>{{ item.content }}</td>
                                          <td>{{ item.createAt }}</td>
                                          <td>{{ item.createDate }}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Save changes</button>
                      </div>
                    </div>
                </div>
            </div>
            </div>
            

            <script th:src="@{../js/list-data.js}"></script>
        </div>
    </body>
</html>