<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>Login</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{../css/login.css}" />
</head>

<body>
	<th:block layout:fragment="content">
		<section class="mu-page-breadcrumb">
			<div class="container-xxl">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-page-breadcrumb-area">
							<h2>Đăng nhập</h2>
							<ol class="breadcrumb w-100 justify-content-center">
								<li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
								<li class="active breadcrumb-item">Đăng nhập</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container-xl py-5">
			<div class="shadow rounded border p-4">

				<section class="ftco-section">

					<div class="row justify-content-center">
						<div class="text-center">
							<h1 class="heading-section">Đăng nhập</h1>
						</div>
					</div>
					<br>
					<div class="row d-flex justify-content-center">
						<div class="col-md-6 col-lg-4">
							<div class="login-wrap p-0">
								<form class="login" name='f' th:action="@{/j_spring_security_check}" method="POST">
									<div class="form-group">
										<input type="text" class="form-control rounded-pill" placeholder="Tên đăng nhập"
											name="username" required>
									</div>
									<div class="form-group mt-3">
										<input id="password-field" name="password" type="password"
											class="form-control rounded-pill" placeholder="Mật khẩu" required> <span
											toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password">
										</span>
									</div>

									<div class="text-center text-danger mt-2" th:if="${#request.getParameter('error') == 'true'}">
                                        <strong>Login Failed!!!</strong>
                                        <span  th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}" th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">Static summary</span>
                                    </div>
                                    <div class="form-group d-flex justify-content-between mt-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="rememberMe" id="remember-me">
                                            <label class="form-check-label" for="remember-me">Nhớ mật khẩu</label>
                                        </div>
                                        <a href="#" style="color: rgb(0, 0, 0); text-decoration: none">Quên mật khẩu</a>
                                    </div>
                                    <div class="form-group d-grid gap-2 mt-3">
														<button type="submit" name="submit"
															class="btn btn-login">Sign
															In</button>
													</div>
                                </form>
                                <br>
                                <h5 class="text-center "> Hoặc tài khoản </h5>
                                <div class="social-login">
               <a th:href="@{#}" class="btn facebook-btn social-btn" type="button"><span><i
												class="fab fa-facebook-f"></i> Facebook</span> </a>
										<a th:href="@{#}" class="btn google-btn social-btn" type="button"><span <i class="fab fa-google-plus-g"></i> Google</span> </a>
            </div>
            <br>
                                 <h5 class="mb-4 text-center">Nếu bạn chưa có tài khoản, hãy đăng ký!</h5>
                                <div class="d-flex justify-content-center mt-4">
                                    <a th:href="@{/register}" class="btn btn-register "> 
                                       <span class="log-in-google"><i class="fas fa-paper-plane"></i> ĐĂNG KÝ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
                        </div>
                    
 </div>
     </th:block>
    </body>
</html>