<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <title>Đăng kí Thi</title>
        <meta charset="utf-8" />
        <link th:href="@{../css/register-exam.css}" rel="stylesheet" />
    </head>
    <body>
        <th:block layout:fragment="content">
            <section class="mu-page-breadcrumb">
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-page-breadcrumb-area">
                                <h2>Đăng ký thi</h2>
                                <ol class="breadcrumb w-100 justify-content-center">
                                    <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
                                    <li class="active breadcrumb-item">Đăng ký thi</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <div id="register-exam-app">
                <div class="container-xxl py-5">
                    <div class="row">
                        <div class="col-12 shadow rounded border p-4">
                            <div class="row bs-wizard animate-box fadeInUp animated-fast">
                                <div class="col-3 bs-wizard-step" :class="[step1]">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <span class="bs-wizard-dot"></span>
                                    <div class="bs-wizard-info text-center">
                                        <p>Chọn kỳ thi</p>
                                    </div>
                                </div>
                                <div class="col-3 bs-wizard-step" :class="[step2]">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <span class="bs-wizard-dot"></span>
                                    <div class="bs-wizard-info text-center">
                                        <p>Cập nhật thông tin</p>
                                    </div>
                                </div>
                                <div class="col-3 bs-wizard-step" :class="[step3]">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <span class="bs-wizard-dot"></span>
                                    <div class="bs-wizard-info text-center">
                                        <p>Bổ sung giấy tờ</p>
                                    </div>
                                </div>
                                <div class="col-3 bs-wizard-step" :class="[step4]">
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <span class="bs-wizard-dot"></span>
                                    <div class="bs-wizard-info text-center">
                                        <p>Hoàn tất</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5" v-if="step1 == 'active'">
                                <div class="col-md-12">
                                    <div class="mu-title">
                                        <h2>Kỳ thi đang mở</h2>
                                    </div>
                                    <div class="row mt-5" v-if="pageContent != '' || pageContent.totalElements != 0">
                                        <div class="col-4 mt-4" v-for="exam in pageContent.content" :key="exam.examId">
                                            <div class="mu-single-feature border p-3 bg-white">
                                                <div class="d-flex justify-content-between">
                                                    <span class="icon-single-feature">
                                                        <i class="fas fa-laptop"></i>
                                                    </span>
                                                    <span class="text-danger fw-bold">{{ $formatDate(exam.dateExam) }}</span>
                                                </div>
                                                <p>Loại bằng: {{ exam.drivingLicense.type }}</p>
                                                <h4 class="text-primary">{{ $displayValue(exam.name) }}</h4>
                                                <div class="ps-2">
                                                    <p class="m-0">Thời gian làm bài: {{ exam.drivingLicense.examMinutes }} phút</p>
                                                    <p class="m-0">Số lượng câu hỏi: {{ exam.drivingLicense.numberQuestion }} câu</p>
                                                    <p>Hạn đăng ký: {{ $formatDate(exam.dateRegisExamEnd) }}</p>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center border-top pt-3">
                                                    <button class="btn btn-primary w-50" @click="selectExam(exam.examId, exam.drivingLicense.type)"><i class="fas fa-plus"></i></button>
                                                    <span>{{ $displayCurrency(exam.drivingLicense.price) }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-5" v-else>
                                        <div class="col-12">
                                            <h4 class="text-danger">Xin lỗi! Hiện không có kỳ thi nào đang mở.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <pagination :total="pageContent.totalElements" :total-pages="pageContent.totalPages" :current-page="pageContent.number" @pagechanged="searchListExam"></pagination>
                                </div>
                            </div>
                            <div class="row mt-5" v-if="step2 == 'active'">
                                <div class="col-12 text-end">
                                    <div class="mu-title">
                                        <h2>Cập nhật thông tin</h2>
                                    </div>
                                </div>
                                <div class="col-12 text-end">
                                    <span class="text-danger">* Trường bắt buộc</span>
                                </div>
                                
                                <div class="col-12">
                                    <div class="warning-container">
                                        <div class="col-12 d-flex flex-row">
                                            <span class="text-secondary p-3"><i class="fas fa-exclamation"></i></span>
                                            <span class="warning-text py-1">
                                                <b class="fw-bold">Quan trọng: </b>Vui lòng nhập tên chính xác như trên 
                                                <a target="_blank" href="#">giấy tờ tùy thân do chính phủ cấp.</a> 
                                                Bạn phải xuất trình các giấy tờ trước giờ thi, tên của bạn phải khớp với giấy tờ tùy thân mới có thể tham gia kỳ thi!
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row mt-4">
                                        <div class="col-4">
                                            <h3><span class="badge bg-warning text-dark rounded-pill w-50">{{ formUpdateInfoDrivingLicense.typeDrivingLicense }}</span></h3>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-4">
                                            <label class="fw-bold">Họ</label><span class="text-danger"> *</span>
                                            <input type="text" class="form-control" name="lastName" placeholder="Nguyễn" 
                                                v-model="$v.formUpdateInfoDrivingLicense.lastName.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.lastName)" maxlength="36"/>
                                            <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.lastName) }}</div>
                                        </div>
                                        <div class="col-4">
                                            <label class="fw-bold">Tên đệm</label>
                                            <input type="text" class="form-control" name="middletName" placeholder="Văn" 
                                                v-model="$v.formUpdateInfoDrivingLicense.middleName.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.middleName)" maxlength="255"/>
                                            <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.middleName) }}</div>
                                        </div>
                                        <div class="col-4">
                                            <label class="fw-bold">Tên</label><span class="text-danger"> *</span>
                                            <input type="text" class="form-control" name="firstName" placeholder="A" 
                                                v-model="$v.formUpdateInfoDrivingLicense.firstName.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.firstName)"/>
                                            <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.firstName) }}</div>
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <label class="fw-bold">Giới tính</label><span class="text-danger"> *</span>
                                            <select class="form-select" v-model="$v.formUpdateInfoDrivingLicense.gender.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.gender)">
                                                <option value=""> Chọn giới tính</option>
                                                <option value="1"> Nam</option>
                                                <option value="0"> Nữ</option>
                                                <option value="2"> Khác</option>
                                            </select>
                                            <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.gender) }}</div>
                                        </div>
                                        <div class="col-6">
                                            <label class="fw-bold" for="birthDay">Ngày sinh</label><span class="text-danger"> *</span>
                                            <datepicker id="birthDay" :class-valid="$hasError($v.formUpdateInfoDrivingLicense.birthDay)" v-model="$v.formUpdateInfoDrivingLicense.birthDay.$model"></datepicker>
                                            <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.birthDay) }}</div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <label class="fw-bold" for="address1">Địa chỉ 1</label><span class="text-danger"> *</span>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                                <input type="text" class="form-control" id="address1" placeholder="Địa chỉ 1" 
                                                    v-model="$v.formUpdateInfoDrivingLicense.address1.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.address1)"/>
                                                <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.address1) }}</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="fw-bold" for="address2">Địa chỉ 2</label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                                <input type="text" class="form-control" placeholder="Địa chỉ 2" id="address2"
                                                    v-model="$v.formUpdateInfoDrivingLicense.address2.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.address2)"/>
                                                <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.address2) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-4">
                                            <label class="fw-bold">Phường/xã</label><span class="text-danger"> *</span>
                                            <select class="form-select" :disabled="listWard == null || listWard.length == 0" 
                                                    v-model="$v.formUpdateInfoDrivingLicense.wardId.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.wardId)">
                                                <option value="">Chọn Phường/xã</option>
                                                <option v-for="ward in listWard" :key="ward.wardId" :value="ward.wardId">{{ ward.wardId }}</option>
                                            </select>
                                            <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.wardId) }}</div>
                                        </div>
                                        <div class="col-4">
                                            <label class="fw-bold">Quận/huyện</label>
                                            <select class="form-select" :disabled="listDistrict == null || listDistrict.length == 0" v-model="districtId" @change="selectDistrict">
                                                <option value="">Chọn Quận/huyện</option>
                                                <option v-for="district in listDistrict" :key="district.districtId" :value="district.districtId">{{ district.districtName }}</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label class="fw-bold">Tỉnh/thành phố</label>
                                            <select class="form-select" v-model="provinceId" @change="selectProvince">
                                                <option value="">Chọn Tỉnh/thành phố</option>
                                                <option v-for="province in listProvince" :key="province.provinceId" :value="province.provinceId">{{ province.provinceName }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <label class="fw-bold">Email</label><span class="text-danger"> *</span>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                <input type="email" class="form-control" placeholder="Nhập địa chỉ email"
                                                    v-model="$v.formUpdateInfoDrivingLicense.email.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.email)"/>
                                                <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.email) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <label class="fw-bold">Số điện thoại</label><span class="text-danger"> *</span>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                                    v-model="$v.formUpdateInfoDrivingLicense.numberPhone.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.numberPhone)"/>
                                                <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.numberPhone) }}</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="fw-bold" for="workingUnit">Đơn vị công tác</label><span class="text-danger"> *</span>
                                            <div class="input-group" id="workingUnit">
                                                <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                                                <input type="text" class="form-control" id="workingUnit" placeholder="Nhập đơn vị công tác"
                                                    v-model="$v.formUpdateInfoDrivingLicense.workingUnit.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.workingUnit)"/>
                                                <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.workingUnit) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <label class="fw-bold" for="identityCardNumber">Số CMND</label><span class="text-danger"> *</span>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                                <input type="text" class="form-control" placeholder="Nhập số CMND" id="identityCardNumber"
                                                    v-model="$v.formUpdateInfoDrivingLicense.identityCardNumber.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.identityCardNumber)"/>
                                                <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.identityCardNumber) }}</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="fw-bold">Nơi cấp</label><span class="text-danger"> *</span>
                                            <select class="form-select" 
                                                v-model="$v.formUpdateInfoDrivingLicense.placeOfIssue.$model" :class="$hasError($v.formUpdateInfoDrivingLicense.placeOfIssue)">
                                                <option value="">Chọn tỉnh</option>
                                                <option v-for="province in listProvince" :key="province.provinceId" :value="province.provinceId">{{ province.provinceName }}</option>
                                            </select>
                                            <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.placeOfIssue) }}</div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <label class="fw-bold" for="issueDate">Cấp ngày</label><span class="text-danger"> *</span>
                                            <div class="input-group">
                                                <datepicker id="issueDate" :class-valid="$hasError($v.formUpdateInfoDrivingLicense.issueDate)" v-model="$v.formUpdateInfoDrivingLicense.issueDate.$model">
                                                </datepicker>
                                                <div class="invalid-feedback">{{ $messageError($v.formUpdateInfoDrivingLicense.issueDate) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-9 mt-10 w-720">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input my-0" id="term" v-model="term" :class="{'is-invalid' : errorTerm}">
                                                <label class="form-check-label" for="term">Tôi đã đọc và đồng ý với <a th:href="@{/}">điều khoản</a></label>
                                                <div class="invalid-feedback" th:if="errorTerm">Bạn phải đồng ý với điều khản trước</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-12 mt-3 text-center">
                                            <input type="submit" value="Tiếp theo" class="btn btn-primary w-25" @click="nextStep3"/>
                                            <input type="submit" value="Trở lại" class="btn btn-secondary w-25" @click="backStep1"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5" v-if="step3 == 'active'">
                                <div class="col-md-12">
                                    <div class="mu-title">
                                        <h2>BỔ SUNG GIẤY TỜ</h2>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-6" >
                                        <label class="fw-bold">CMND mặt trước</label><span class="text-danger"> *</span>
                                        <label class="image-area d-flex justify-content-center align-items-center fw-bold text-secondary mt-3" for="identityCardImageFront" style="height:250px" v-if="formUploadDocument.identityCardImageFront.length != 0 && formUploadDocument.identityCardImageFront != ''">
                                            <img :src="identityCardImageFrontSrc" class="w-100 h-100">
                                        </label>
                                        <label class="image-area d-flex justify-content-center align-items-center fw-bold text-secondary mt-3" for="identityCardImageFront" style="height:250px" v-else>
                                            Mặt trước
                                        </label>
                                        <input class="d-none " :class="$hasError($v.formUploadDocument.identityCardImageFront)" type="file" id="identityCardImageFront" @change="loadIdentityCardFront" accept="image/*">
                                        <div class="invalid-feedback">{{ $messageError($v.formUploadDocument.identityCardImageFront) }}</div>
                                    </div>
                                    <div class="col-6">
                                        <label class="fw-bold">CMND mặt sau</label><span class="text-danger"> *</span>
                                        <label class="image-area d-flex justify-content-center align-items-center fw-bold text-secondary mt-3" for="identityCardImageBack" style="height:250px" v-if="formUploadDocument.identityCardImageBack.length != 0 && formUploadDocument.identityCardImageBack != ''">
                                            <img :src="identityCardImageBackSrc" class="w-100 h-100">
                                        </label>
                                        <label class="image-area d-flex justify-content-center align-items-center fw-bold text-secondary mt-3" for="identityCardImageBack" style="height:250px" v-else>
                                            Mặt sau
                                        </label>
                                        <input class="d-none" :class="$hasError($v.formUploadDocument.identityCardImageBack)" type="file" id="identityCardImageBack" @change="loadIdentityCardBack" accept="image/*">
                                        <div class="invalid-feedback">{{ $messageError($v.formUploadDocument.identityCardImageBack) }}</div>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <label class="fw-bold">Thêm ảnh chân dung:</label><span class="text-danger"> *</span>
                                        <p class="text-warning">Vui lòng nhấn bật webcam và đưa mặt của bạn vào vòng tròn xanh, nhìn thằng vào camera sau đó nhấn chụp.</p>
                                        <div class="row mt-3">
                                            <div class="col-2">
                                                <button id="start" @click="start" class="btn btn-primary w-100" :disabled="cameraOn"><i class="fas fa-camera-retro"></i> Bật Webcam</button>
                                                <button id="start" @click="end" class="btn btn-secondary mt-4 w-100" :disabled="!cameraOn"><i class="fas fa-power-off"></i> Tắt Webcam</button>
                                            </div>
                                            <div class="col-6 d-flex justify-content-center align-items-center" v-if="!errorCamera">
                                                <span class="highlight" v-if="cameraOn"></span>
                                                <video class="w-100 rounded border w-100" autoplay :src-object.prop.camel="localstream" height="363"></video>
                                            </div>
                                            <div class="col-6 text-center" v-else>
                                                <h5 class="text-danger">Hình như có sự cố với camera của bạn!</h5>
                                            </div>
                                            <div class="col-4">
                                                <label class="image-area d-flex justify-content-center align-items-center fw-bold text-secondary content-portrait" :class="$hasError($v.formUploadDocument.imagePortrait)">
                                                    <span v-if="imagePortraitSrc == '' || imagePortraitSrc == 'null'">Ảnh chân dung</span>
                                                    <img id="image-tag" :src="imagePortraitSrc" class="w-100" v-else/>
                                                </label>
                                                <div class="invalid-feedback" v-if="!$v.formUploadDocument.imagePortrait.required">Vui lòng chụp ảnh chân dung.</div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button type="button" class="btn btn-primary mt-3 w-100" @click="takePhoto" :disabled="!cameraOn"><i class="fas fa-image"></i> Chụp</button>
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" class="btn btn-danger mt-3 w-100" @click="removePhoto" :disabled="formUploadDocument.imagePortrait == '' || formUploadDocument.imagePortrait == null"><i class="fas fa-eraser"></i> Xóa</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <label class="fw-bold">Giấy khám sức khỏe</label><span class="text-danger"> *</span>
                                        <p class="text-warning">Tải lên file mềm giấy khám sức khoẻ lái xe được kiểm tra và thẩm định tại cơ quan y tế cấp huyện trở lên</p>
                                        <label class="image-area d-flex justify-content-center align-items-center fw-bold text-secondary mt-3" for="healthCertification" v-if="formUploadDocument.healthCertificationFile != null && formUploadDocument.healthCertificationFile.length != 0">{{ formUploadDocument.healthCertificationFile.name }}</label>
                                        <label class="image-area d-flex justify-content-center align-items-center fw-bold text-secondary mt-3" for="healthCertification" v-else>Định dạng file PDF</label>
                                        <input type="file" id="healthCertification" class="d-none" @change="uploadHealthCertificationFile" :class="$hasError($v.formUploadDocument.healthCertificationFile)">
                                        <div class="invalid-feedback" v-if="!$v.formUploadDocument.healthCertificationFile.required">Vui lòng tải lên file mềm giấy khám sức khỏe của bạn.</div>
                                    </div>
                                    <div class="col-12 mt-5 text-center">
                                        <input type="submit" value="Tiếp theo" class="btn btn-primary w-25" @click="nextStep4"/>
                                        <input type="submit" value="Trở lại" class="btn btn-secondary w-25" @click="backStep2"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5" v-if="step4 == 'active'">
                                <div class="col-md-12">
                                    <div class="mu-title">
                                        <h2>ĐĂNG KÝ HOÀN TẤT</h2>
                                    </div>
                                </div>
                                <div class="col-12 mt-5 text-center">
                                    <h1 class="text-success panel-success"><i class="fas fa-check-circle"></i></h1>
                                    <p class="fs-3">Thành công</p>
                                    <p class="mt-4">Bạn có thể xem lại tại hồ sơ cá nhân</p>
                                </div>
                                <div class="col-12 mt-5 text-center">
                                    <a th:href="@{/}" class="btn btn-primary w-25">Về trang chủ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toast d-fixed text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message}}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../assets/js/pagination.js}"></script>
            <script th:src="@{../assets/js/datepicker.js}"></script>
            <script th:src="@{../js/register-exam.js}"></script>
        </th:block>
    </body>
</html>