<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
    <head>
        <title>Đăng ký</title>
        <meta charset="utf-8"/>
        <!-- CSS Files -->
        <link th:href="@{../css/register.css}" rel="stylesheet" />
    </head>
    <body>
         <th:block layout:fragment="content">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 shadow content-register aos-init" data-aos="fade-left">
                        <div class="row h-100">
                            <div class="col-5 bg-register-right d-flex justify-content-center align-items-center">
                                <a th:href="@{/oauth2/authorization/google}" class="btn btn-danger">
                                    <i class="fab fa-google"></i> Đăng nhập với Google+
                                </a>
                            </div>
                            <div class="col-7 p-4">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="text-center">
                                            <h1 class="heading-section">Đăng ký</h1>
                                        </div>
                                    </div>
                                </div>
                                <form class="row" th:action="@{/create-account}" th:object="${accountForm}" method="POST" id="register-form">
                                    <div class="col-12">
                                        <div class="alert alert-danger" th:if="${#fields.hasErrors()}">
                                            <p class="m-0" th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
                                            <p class="m-0" th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}"></p>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-3">
                                        <label class="fw-bold">Họ<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control bg-transparent" th:field="*{lastName}" placeholder="Họ"/>
                                    </div>
                                    <div class="col-4 mt-3">
                                        <label class="fw-bold">Tên đệm</label>
                                        <input type="text" class="form-control bg-transparent" th:field="*{middleName}" placeholder="Tên đệm"/>
                                    </div>
                                    <div class="col-4 mt-3">
                                        <label class="fw-bold">Tên<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control bg-transparent" th:field="*{firstName}" placeholder="Tên"/>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <label class="fw-bold">Địa chỉ email<span class="text-danger"> *</span></label>
                                        <input type="email" class="form-control bg-transparent" th:field="*{email}" placeholder="sample@email.com"/>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <label class="fw-bold">Ngày sinh<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control bg-transparent datepicker" th:field="*{birthDay}" placeholder="Chọn ngày sinh" autocomplete="off"/>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <label class="fw-bold">Tên đăng nhập<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control bg-transparent" th:field="*{userName}" placeholder="Tên đăng nhập"/>
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label class="fw-bold">Mật khẩu<span class="text-danger"> *</span></label>
                                        <input type="password" class="form-control bg-transparent" th:field="*{password}" placeholder="Mật khẩu">
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label class="fw-bold">Nhập lại mật khẩu<span class="text-danger"> *</span></label>
                                        <input type="password" class="form-control bg-transparent" th:field="*{confirmPassword}" placeholder="Xác nhận mật khẩu">
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label class="fw-bold">Số điện thoại<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control bg-transparent" placeholder="Số điện thoại" th:field="*{numberPhone}"/>
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label class="fw-bold">Giới tính <span class="text-danger">*</span></label>
                                        <select class="form-select bg-transparent" th:field="*{gender}">
                                            <option value="">Chọn giới tính</option>
                                            <option value="1">Nam</option>
                                            <option value="0">Nữ</option>
                                            <option value="2">Khác</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mt-4 text-center">
                                        <button type="submit" class="btn btn-primary w-25">Đăng ký</button>
                                        <a th:href="@{/register}" type="reset" class="btn btn-secondary w-25">Làm mới</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../js/register.js}"></script>
        </th:block>
    </body>
</html>