<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Register</title>
<!--   Core JS Files   -->
<link rel="stylesheet" type="text/css" th:href="@{../css/register.css}" />

<link th:href="@{../font-awesome/css/all.min.css}" rel="stylesheet" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="background-image: url('image/bg.jpg');">
	<div class="container-xxl mt-5" layout:fragment="content">
		<div class="wrapper">
			<div class="inner">
				<div class="image-holder">
					<img
						src="https://i.pinimg.com/564x/49/81/12/498112c85f540a3d9673e58e75d057b7.jpg"
						alt="">
				</div>
				<form action="">
					<h3>ĐĂNG KÝ</h3>
					<div class="form-group">
						<input type="text" placeholder="Tên" class="form-control">
						<input type="text" placeholder="Họ" class="form-control">
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Tên đăng nhập"
							class="form-control"> <i class="fas fa-user"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Email" class="form-control">
						<i class="fas fa-envelope"></i>
					</div>
					<div class="form-wrapper">
						<select name="" id="" class="form-control">
							<option value="" disabled selected>Giới tính</option>
							<option value="male">Nam</option>
							<option value="femal">Nữ</option>
							<option value="other">Khác</option>
						</select> <i class="fas fa-angle-down" style="font-size: 17px"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Mật khẩu" class="form-control">
						<i class="fas fa-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Nhập lại mật khẩu"
							class="form-control"> <i class="fas fa-lock"></i>
					</div>
					<button>
						Đăng ký <i class="fas fa-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>