<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <title>Đăng ký thi</title>
        <meta charset="utf-8" />
        <!-- CSS Files -->
        <link th:href="@{../css/regist-exam.css}" rel="stylesheet" />
    </head>
    <body>
        <th:block layout:fragment="content">
            <section id="mu-page-breadcrumb">
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-page-breadcrumb-area">
                                <h2>Cập nhật thông tin</h2>
                                <ol class="breadcrumb w-100 justify-content-center">
                                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                    <li class="active breadcrumb-item">Cập nhật thông tin</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container-xxl py-5">
                <div class="row">
                    <div class="col-12 shadow">
                        <div class="col-12 p-4">
                            <form>
                            <div class="row bs-wizard animate-box fadeInUp animated-fast">
                                <div class="col-3 bs-wizard-step complete">
                                  <div class="progress">
                                    <div class="progress-bar"></div>
                                  </div>
                                  <a href="https://www.free-css.com/free-css-templates" class="bs-wizard-dot"></a>
                                  <div class="bs-wizard-info text-center">
                                    <p>Chọn kỳ thi</p>
                                  </div>
                                </div>
                                <div class="col-3 bs-wizard-step active">
                                  <div class="progress">
                                    <div class="progress-bar"></div>
                                  </div>
                                  <a href="https://www.free-css.com/free-css-templates" class="bs-wizard-dot"></a>
                                  <div class="bs-wizard-info text-center">
                                    <p>Cập nhật thông tin</p>
                                  </div>
                                </div>
                                <div class="col-3 bs-wizard-step disabled">
                                  <div class="progress">
                                    <div class="progress-bar"></div>
                                  </div>
                                  <a href="https://www.free-css.com/free-css-templates" class="bs-wizard-dot"></a>
                                  <div class="bs-wizard-info text-center">
                                    <p>Bổ sung giấy tờ</p>
                                  </div>
                                </div>
                                <div class="col-3 bs-wizard-step disabled">
                                  <div class="progress">
                                    <div class="progress-bar"></div>
                                  </div>
                                  <a href="https://www.free-css.com/free-css-templates" class="bs-wizard-dot"></a>
                                  <div class="bs-wizard-info text-center">
                                    <p>Hoàn tất</p>
                                  </div>
                                </div>
                              </div>
                                <div class="row mb-3">
                                    <div class="col-12 text-end">
                                        <span class="validationMessage">* Trường bắt buộc</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="warning-container">
                                            <div class="col-12 d-flex flex-row">
                                                <span class="text-secondary p-3"><i class="fas fa-exclamation"></i></span>
                                                <span class="warning-text py-1">
                                                    <b class="bold">Quan trọng: </b>Vui lòng nhập tên chính xác như trên 
                                                    <a target="_blank" href="https://home.pearsonvue.com/Policies/1S/English">giấy tờ tùy thân do chính phủ cấp.</a> 
                                                    Bạn phải xuất trình các giấy tờ trước giờ thi, tên của bạn phải khớp với giấy tờ tùy thân mới có thể tham gia kỳ thi!
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-4">
                                        <h3><span class="badge bg-warning text-dark rounded-pill w-25">B2</span></h3>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-4">
                                        <label class="lbl-font">Họ</label><span class="validationMessage"> *</span>
                                        <input type="text" class="form-control" name="lastName" placeholder="Nguyễn"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="lbl-font">Tên đệm</label>
                                        <input type="text" class="form-control" name="middletName" placeholder="Văn"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="lbl-font">Tên</label><span class="validationMessage"> *</span>
                                        <input type="text" class="form-control" name="firstName" placeholder="A"/>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-6">
                                        <label class="lbl-font">Giới tính</label><span class="validationMessage"> *</span>
                                        <div class="input-group" id="address-place">
                                            <span class="input-group-text"><i class="fas fa-genderless"></i></span>
                                            <select class="form-select">
                                                <option> Chọn giới tính</option>
                                                <option> Nam</option>
                                                <option> Nữ</option>
                                                <option> Khác</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="lbl-font">Ngày sinh</label><span class="validationMessage"> *</span>
                                        <div class="input-group" id="birthday-place">
                                            <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                                            <input type="text" class="form-control" id="birthday" name="birthday" placeholder="Chọn ngày sinh" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-6">
                                        <label class="lbl-font">Địa chỉ 1</label><span class="validationMessage"> *</span>
                                        <div class="input-group" id="address-place">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            <input type="text" class="form-control" id="address1" name="address1" placeholder="123 Ông Ích Khiêm" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="lbl-font">Địa chỉ 2</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            <input type="text" class="form-control" placeholder="Nhập địa chỉ 2 nếu có" name="address2" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-4">
                                        <label class="lbl-font">Phường/xã</label><span class="validationMessage"> *</span>
                                        <select class="form-select">
                                            <option value="">Chọn Phường/xã</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label class="lbl-font">Quận/huyện</label><span class="validationMessage"> *</span>
                                        <select class="form-select">
                                            <option value="">Chọn Quận/huyện</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label class="lbl-font">Tỉnh/thành phố</label><span class="validationMessage"> *</span>
                                        <select class="form-select">
                                            <option value="">Chọn Tỉnh/thành phố</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <label class="lbl-font">Email</label><span class="validationMessage"> *</span>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                            <input type="email" class="form-control" placeholder="Nhập địa chỉ email"
                                                name="email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-6">
                                        <label class="lbl-font">Số điện thoại</label><span class="validationMessage"> *</span>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            <input type="text" class="form-control" placeholder="Nhập số điện thoại" name="phoneNumber" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="lbl-font">Đơn vị công tác</label><span class="validationMessage"> *</span>
                                        <div class="input-group" id="address-place">
                                            <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                                            <input type="text" class="form-control" id="address1" name="address1" placeholder="Nhập đơn vị công tác" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-6">
                                        <label class="lbl-font">Số CMND</label><span class="validationMessage"> *</span>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                            <input type="text" class="form-control" placeholder="Nhập số CMND" name="userName" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="lbl-font">Nơi cấp</label><span class="validationMessage"> *</span>
                                        <select class="form-select">
                                            <option value="">Chọn tỉnh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <label class="lbl-font">Cấp ngày</label><span class="validationMessage"> *</span>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Nhập ngày cấp" name="userName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-9 mt-10 w-720">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Tôi đã đọc và đồng ý với <a th:href="@{/}">điều khoản</a></label>
                                          </div>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 mt-3 text-center">
                                        <input type="submit" value="Tiếp theo" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>