<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>Hồ sơ - Tiến độ học tập</title>
	<link rel="stylesheet" th:href="@{../css/view-profile.css}">
</head>

<body>
	<th:block layout:fragment="content">
		<section class="mu-page-breadcrumb p-0">
			<div class="container-xxl">
				<div class="profile-header">
					<div class="profile-header-cover"></div>

					<div class="profile-header-content">
						<div class="profile-header-img">
							<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
						</div>

						<div class="profile-header-info">
							<h4 class="m-t-sm">[[${account.lastName}]] [[${account.middleName}]]
								[[${account.firstName}]]</h4>
							<p class="m-b-sm">Quản trị viên</p>
							<a href="#" class="btn btn-xs btn-primary mb-3">Sửa thông tin</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container-xxl my-3">
			<div class="profile-container">
				<div class="row row-space-20">
					<div class="col-md-8">
						<div class="tab-content p-0">
							<div class="tab-pane active show" id="profile-about">
									<div class="mt-4">
										<ul class="nav nav-tabs">
											<li class="nav-item">
												<a class="nav-link" aria-current="page"
													th:href="@{/view-profile}">Thông tin cá nhân</a>
											</li>
											<li class="nav-item">
												<a class="nav-link active" th:href="@{/view-profile-learning-progress}">Tiến độ học tập</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" th:href="@{/view-history-trial-test}">Lịch sử thi thử</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" th:href="@{/view-profile-registed-exam}">Kì thi thật đã đăng ký</a>
											</li>
										</ul>
									</div>
								<div class="row">
									<div class="col-12">
										<div class="mt-5">
											<strong style="font-size: large;">Thông tin chi tiết</strong>
										</div>
										<table class="table table-profile mt-0">
											<thead>
												<tr>
													<th colspan="2">
														<span class="badge badge-pill badge-warning badge-lg">Người
															dùng</span>
														<span class="badge badge-pill badge-success badge-lg">Quản trị
															viên</span>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="field">Tiến độ học</td>
													<td class="value">
														<div class="m-b-5">
															Bạn đã học được <b>6/7 chương!</b>
														</div>
													</td>
												</tr>
												<tr>
													<td class="field">Số lần thi thử</td>
													<td class="value">
														<div class="m-b-5">
															<b>3</b>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-8 mt-5">
									<strong style="font-size: large;">Thông tin thi thử</strong>
									<table class="table mt-4">
										<thead class="mt-1">
											<tr class="text-center">
												<th scope="col"></th>
												<th scope="col">Tên đề thi</th>
												<th scope="col">Ngày thi</th>
												<th scope="col">Số câu đúng</th>
												<th scope="col">Kết quả</th>
											</tr>
										</thead>
										<tbody>
											<tr class="text-center">
												<th scope="row">1</th>
												<td>Đề số 1</td>
												<td>16/06/2021</td>
												<td>15/35</td>
												<td>Không đạt</td>
											</tr>
											<tr class="text-center">
												<th scope="row">2</th>
												<td>Đề số 2</td>
												<td>17/06/2021</td>
												<td>27/35</td>
												<td>Không đạt</td>
											</tr>
											<tr class="text-center">
												<th scope="row">3</th>
												<td>Đề số 3</td>
												<td>18/06/2021</td>
												<td>33/35</td>
												<td>Đạt</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 hidden-xs hidden-sm">
						<ul class="profile-info-list mt-4">
							<li class="title">
								<h5>THÔNG TIN KHÁC</h5>
							</li>
							<li>
								<div class="field">Ngày tạo:</div>
								<div th:text="${#dates.format(account.createAt, 'dd-MM-yyyy')}"></div>
							</li>
							<li>
								<div class="field">Người tạo:</div>
								<div class="value">[[${account.createBy}]]</div>
							</li>
							<li>
								<div class="field">Ngày cập nhật lần cuối:</div>
								<div th:text="${#dates.format(account.updateAt, 'dd-MM-yyyy')}"></div>
							</li>
							<li>
								<div class="field">Người cập nhật lần cuối:</div>
								<div class="value">[[${account.updateBy}]]</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>