<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>Cập nhật hồ sơ - Thông tin cá nhân</title>
	<link rel="stylesheet" th:href="@{../css/update-profile.css}">
</head>

<body>
	<th:block layout:fragment="content">
		<section id="breadcrumbs" class="breadcrumbs d-flex align-items-center">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>Cập nhật hồ sơ - Thông tin cá nhân</h2>
					<ol>
						<li><a th:href="@{/view-profile}">Hồ sơ - Thông tin cá nhân</a></li>
						<li>Cập nhật hồ sơ - Thông tin cá nhân</li>
					</ol>
				</div>
			</div>
		</section>
		<div class="container emp-profile">
			<form method="post">
				<div class="row">
					<div class="col-md-4">
	                    <div class="profile-img">
	                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
	                        <div class="file btn btn-lg btn-primary">
	                            Đổi hình ảnh
	                            <input type="file" name="file"/>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-6">
	                    <div class="profile-head">
                            <h4>[[${accountUpdateForm.lastName}]] [[${accountUpdateForm.middleName}]] [[${accountUpdateForm.firstName}]]</h4>
                            <h5>Quản trị viên</h5>
	                    </div>
	                </div>
				</div>
			</form>
		</div>
		<div class="container-xxl mb-0">
			<div class="profile-container">
				<div class="row row-space-20">
					<div class="col-md-12">
						<div class="tab-content p-0">
							<div class="tab-pane active show" id="profile-about">
								<form id="view-profile-form" th:action="@{/update-account-view}" th:object="${accountUpdateForm}" method="POST" enctype="multipart/form-data">
									<input type="hidden" th:field="*{accountId}"/>
									<div class="row">
										<div class="col-6 mb-5 ">
											<div class="mt-5 fs-5">
												<strong>Thông tin cơ bản</strong>
											</div>
										</div>
										<div class="col-lg-6 text-right">
											<div class="form-group">
												<span class="badge badge-pill badge-success badge-lg" th:if="${accountUpdateForm.roleId == 1}">Quản trị viên</span>
												<span class="badge badge-pill badge-warning badge-lg" th:if="${accountUpdateForm.roleId == 2}">Người dùng</span>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="alert alert-danger" th:if="${#fields.hasErrors()}"> 
					                                <p class="m-0" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
					                                <p class="m-0" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
					                                <p class="m-0" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></p>
					                                <p class="m-0" th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}"></p>
					                                <p class="m-0" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
					                            </div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="alert alert-success" th:if="${messageSuccess != null}" th:text="${messageSuccess}"></div>
												<div class="alert alert-danger" th:if="${messageError != null}" th:text="${messageError}"></div>
											</div>
										</div>
										<div class="row">
											<div class="col-4">
												<div class="form-group">
													<label class="form-control-label" for="input-first-name">Họ</label>
													<input type="text" id="input-first-name" class="form-control d-flex align-items-center" th:field="*{lastName}">
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<label class="form-control-label" for="input-middle-name">Tên đệm</label>
													<input id="input-middle-name" class="form-control d-flex align-items-center" th:field="*{middleName}">
												</div>
											</div>
											<div class="col-4">
												<div class="form-group">
													<label class="form-control-label" for="input-last-name">Tên</label>
													<input type="text" id="input-last-name" class="form-control d-flex align-items-center" th:field="*{firstName}">
												</div>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-6">
												<div class="form-group" id="birthday-place">
													<label class="form-control-label" for="input-birthday">Ngày sinh</label>
													<div class="input-group">
														<div class="input-group-prepend"></div>
														<input class="form-control d-flex align-items-center" id="input-birthday" name="birthDay" th:field="*{birthDay}">
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="form-control-label" for="input-last-name">Tên đăng nhập</label>
													<div class="input-group">
														<div class="input-group-prepend">
														</div>
														<input type="text" id="input-last-name" class="form-control d-flex align-items-center" th:field="*{userName}">
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label class="form-control-label" for="input-gender">Giới tính: </label>
													<span th:if="${accountUpdateForm.gender == 1}" class="form-control d-flex align-items-center">Nam</span>
													<span th:if="${accountUpdateForm.gender == 0}" class="form-control d-flex align-items-center">Nữ</span>
													<span th:if="${accountUpdateForm.gender == 2}" class="form-control d-flex align-items-center">Khác</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="mt-5 mb-5 fs-5">
													<strong>Địa chỉ liên lạc</strong>
												</div>
												<div class="col-12">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="form-control-label" for="input-address">Số điện thoại</label>
																<div class="input-group">
																	<div class="input-group-prepend">
																	</div>
																	<input type="text" id="input-address" class="form-control" th:field="${accountUpdateForm.numberPhone}">
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="form-group">
																<label class="form-control-label" for="input-address">Email</label>
																<div class="input-group">
																	<div class="input-group-prepend">
																	</div>
																	<input type="text" id="input-address" class="form-control" th:field="${accountUpdateForm.email}">
																</div>
															</div>
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-12">
															<div class="form-group">
																<label class="form-control-label" for="input-address">Địa chỉ</label>
																<span id="input-address" class="form-control" value="Đà Nẵng">
															</div>
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-lg-4">
															<div class="form-group">
																<label class="form-control-label" for="input-city">Phường / Xã</label>
																<span id="input-address" class="form-control" value="Nại Hiên Đông">
															</div>
														</div>
														<div class="col-lg-4">
															<div class="form-group">
																<label class="form-control-label" for="input-country">Quận / Huyện</label>
																<span id="input-address" class="form-control" value="Sơn Trà">
															</div>
														</div>
														<div class="col-lg-4">
															<div class="form-group">
																<label class="form-control-label" for="input-country">Tỉnh / Thành phố</label>
																<span id="input-address" class="form-control" value="Sơn Trà">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="mt-5 mb-5 fs-5">
													<strong>Mô tả về tôi</strong>
												</div>
												<div class="col-12 mt-3">
													<div class="form-group" id="birthday-place">
														<div class="input-group">
															<textarea class="form-control" id="description" name="description" th:if="${accountUpdateForm.description} == null">Chưa cập nhật</textarea>
														</div>
														<div class="input-group">
															<textarea class="form-control" id="description" name="description" th:if="${accountUpdateForm.description} != null">[[${accountUpdateForm.description}]]</textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row mb-5 mt-4">
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-primary">Cập nhật hồ sơ</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>