<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>Lịch sử thi thử</title>
	<link rel="stylesheet" th:href="@{../css/view-profile.css}">
</head>

<body>
	<th:block layout:fragment="content">
		<section class="mu-page-breadcrumb p-0">
			<div class="container-xxl" style="padding-top: 200px ;">
				<div class="profile-header">
					<div class="profile-header-cover"></div>

					<div class="profile-header-content">
						<div class="profile-header-img">
							<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
						</div>

						<div class="profile-header-info">
							<h4 class="m-t-sm">[[${account.lastName}]] [[${account.middleName}]]
								[[${account.firstName}]]</h4>
							<p class="m-b-sm">Quản trị viên</p>
							<a href="#" class="btn btn-xs btn-primary mb-3">Sửa thông tin</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container-xxl my-3">
			<div class="profile-container">
				<div class="row row-space-20">
					<div class="col-12-md-8">
						<div class="tab-content p-0">
							<div class="tab-pane active show" id="profile-about">
								<div>
									<ul class="nav nav-tabs">
										<li class="nav-item">
											<a class="nav-link" aria-current="page" th:href="@{/view-profile}">Thông tin
												cá nhân</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" th:href="@{/view-profile-learning-progress}">Tiến độ học
												tập</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" th:href="@{/view-history-trial-test}">Lịch sử thi
												thử</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" th:href="@{/view-profile-registed-exam}">Kì thi thật
												đã đăng ký</a>
										</li>
									</ul>
								</div>
								<div class="col-12 mt-5">
									<!--<form class="row mt-3" th:action="@{/view-history-trial-test}" th:object="${drivingLicenseForm}" method="POST">-->
										<!--<input type="hidden" th:field="*{drivingLicenseId}">-->
										<table class="table table-bordered mt-4">
											<thead class="mt-1" style="background-color: rgb(213, 213, 213);">
												<tr class="text-center">
													<th scope="col"></th>
													<th scope="col">Loại bằng</th>
													<th scope="col">Tên đề thi</th>
													<th scope="col">Ngày thi</th>
													<th scope="col">Số câu hỏi</th>
													<th scope="col">Trả lời đúng</th>
													<th scope="col">Trả lời sai</th>
													<th scope="col">Câu liệt</th>
													<th scope="col">Thời gian làm bài</th>
													<th scope="col">Điểm</th>
													<th scope="col">Kết quả</th>
													<th scope="col">Chi tiết</th>
												</tr>
											</thead>
											<tbody >
												<tr class="text-center" th:each="trialExamResult,stat : ${listTrialExamResult}">
													<td th:text="${stat.index + 1}"></td>
													<th th:text="${trialExamResult.examQuestions.drivingLicense.name}"></th>
													<td th:text="${trialExamResult.examQuestions.name}"></td>
													<td>16/06/2021</td>
													<td th:text="${trialExamResult.examQuestions.drivingLicense.numberQuestion}"></td>
													<td th:text="${trialExamResult.examQuestions.drivingLicense.numberQuestionCorect}"></td>
													<td>Không đạt</td>
													<td th:text="${trialExamResult.examQuestions.drivingLicense.numberQuestionParalysis}"></td>
													<td th:text="|${trialExamResult.examQuestions.drivingLicense.examMinutes} phút|"></td>
													<td th:text="${trialExamResult.point}"></td>
													<td>
														<span th:if="${trialExamResult.pass}">Không đạt</span>
														<span th:unless="${trialExamResult.pass}">Đạt</span>
													</td>
													
													<td><a type="button" class="btn btn-xs btn-primary mb-3" th:href="@{${'/detail-history-trial-test?trialExamResultId='} + ${trialExamResult.trialExamResultId}}">Chi
															tiết</a>
													</td>

												</tr>
												
											</tbody>
										</table>
									<!--</form>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>