<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8"/>
<title>Hồ sơ - Kỳ thi thật đã đăng ký</title>
<link rel="stylesheet" th:href="@{../css/view-profile.css}">
</head>
<body>
	<th:block layout:fragment="content">
		<section id="breadcrumbs" class="breadcrumbs d-flex align-items-center">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>Kỳ thi thật đã đăng ký</h2>
					<ol>
						<li><a th:href="@{/}">Trang chủ</a></li>
						<li>Kỳ thi thật đã đăng ký</li>
					</ol>
				</div>
			</div>
		</section>
		<div class="container emp-profile">
			<form method="post">
				<div class="row">
					<div class="col-md-4">
	                    <div class="profile-img">
	                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
	                        <div class="file btn btn-lg btn-primary">
	                            Đổi hình ảnh
	                            <input type="file" name="file"/>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-6">
	                    <div class="profile-head">
                            <h4>[[${account.lastName}]] [[${account.middleName}]] [[${account.firstName}]]</h4>
                            <h5>Quản trị viên</h5>
	                    </div>
	                </div>
	                <div class="col-md-2">
                        <a th:href="@{/view-profile-update}" class="btn btn-xs btn-primary mb-3">Sửa thông tin</a>
                    </div>
				</div>
			</form>
		</div>
		<div class="container-xxl my-3" >
			<div class="profile-container">
				<div class="row row-space-20">
					<div class="col-md-8">
						<div class="tab-content p-0">
							<div class="tab-pane active show" id="profile-about">
									<div class="mt-4">
										<ul class="nav nav-tabs">
											<li class="nav-item">
												<a class="nav-link" aria-current="page"
													th:href="@{/view-profile}">Thông tin cá nhân</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" th:href="@{/view-profile-learning-progress}">Tiến độ học tập</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" th:href="@{/view-history-trial-test}">Lịch sử thi thử</a>
											</li>
											<li class="nav-item">
												<a class="nav-link active" th:href="@{/view-profile-registed-exam}">Kì thi thật đã đăng ký</a>
											</li>
										</ul>
									</div>
								<div class="row">
									<div class="col-12">
										<div class="mt-5">
											<strong style="font-size: large;">Thông tin chi tiết</strong>
										</div>
										<table class="table mt-4">
										  <thead>
										    <tr class="text-center">
										      <th scope="col">Số thứ tự</th>
										      <th scope="col">Tên kỳ thi</th>
										      <th scope="col">Mô tả</th>
										      <th scope="col">Ngày thi chính thức</th>
										    </tr>
										  </thead>
										  <tbody class="text-center">
										    <tr>
										      <th scope="row">1</th>
										      <td>B2</td>
										      <td>Thi bằng lái xe ô tô</td>
										      <td>16/07/2021</td>
										    </tr>
										  </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>